<nav class="side-nav fixed" id="slide-out">
    <header class="side-banner">
        <img class="avatar icon"></img>
        <span class="author">Sagie Gur-Ari</span>
        <a class="mail">sagiegurari@gmail.com</a>
    </header>
    <ul>
        <li><a href="#/" class="waves-effect"><i class="fas fa-file-code menu-icon"></i>Open Source Projects</a></li>
        <li><a href="#/resume" class="waves-effect"><i class="far fa-file-alt menu-icon"></i>Resume</a></li>
        <li class="divider"></li>
        <li><a class="waves-effect github-url" target="_blank"><i class="fab fa-github menu-icon"></i>GitHub</a></li>
        <li><a class="waves-effect" target="_blank" href="http://stackoverflow.com/users/2495789/sagie"><i class="fab fa-stack-overflow menu-icon"></i>Stackoverflow</a></li>
        <li><a class="waves-effect" target="_blank" href="https://www.linkedin.com/in/sagiegurari"><i class="fab fa-linkedin menu-icon"></i>Linkedin</a></li>
    </ul>
</nav>
