<main layout="row" flex class="main-content">
    <nav class="sidenav-container">
        {% include sidenav.html %}
    </nav>
    <section class="content-container">
        <md-toolbar class="md-hue-2 content-toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSideNav()" aria-label="toggle">
                    <i class="fa fa-bars toolbar-icon" aria-hidden="true"></i>
                </md-button>
            </div>
        </md-toolbar>
        <div class="template-container">
            {% include views/repolist.html %} {% include views/resume.html %}
        </div>
    </section>
</main>
