//had to use sass variables instead of css variables due to lack of support by microsoft
$mainBgColor: rgb(250, 250, 250);
$sectionBgColor: rgb(250, 250, 250);
$sectionColor: #5badf0;
$shadowColor: rgb(250, 250, 250);
$sectionPadding: 20px;
$patternColor: #409F62;
$textColor: #555; //too bad this is not supported by microsoft

:root {
    --main-bg-color: $mainBgColor;
    --section-bg-color: $sectionBgColor;
    --section-color: $sectionColor;
    --shadow-color: $shadowColor;
    --section-padding: $sectionPadding;
    --pattern-color: $patternColor;
    --text-color: $textColor;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: $mainBgColor;
}

main {
    flex-grow: 1;
    justify-content: flex-start;
}

.link-icon,
.toolbar-icon {
    font-size: 22px;
    margin-right: 12px;
    width: 22px;
}

a.nav-link {
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding-top: 2px;
}

.main-content {
    md-toolbar.content-toolbar {
        background-color: $patternColor !important;
        height: 64px;
    }
}

.site-footer,
.site-header {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    color: $sectionColor;
    background-color: $sectionBgColor;
    min-height: 48px;
    justify-content: flex-end;
    padding-right: $sectionPadding;
}

.site-header {
    margin-bottom: 4px;

    ul {
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;
            margin-left: 5px;
            padding-left: 7px;
            border-left: 1px solid $sectionColor;

            &:first-of-type {
                border-left: none;
            }
        }
    }
}

.site-footer {
    margin-top: 4px;
}

.content-container {
    flex-grow: 1;
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .app-nav {
        background-color: $patternColor;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.2) 35px, rgba(255,255,255,.2) 70px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-grow: 1;
        transition: width 0.3s linear;
        overflow-x: hidden;

        .nav-link,
        h3,
        h4 {
            white-space: nowrap;
            overflow-x: hidden;
        }

        md-toolbar {
            background: transparent;
            padding-left: 10px;
            padding-top: 10px;
            flex-grow: 0;

            .md-avatar {
                flex: none;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-right: 16px;
            }

            .author {
                font-size: 16px;
                margin-bottom: 3px;
                color: white;
            }

            .mail {
                font-size: 14px;
                margin-top: 0;
                color: rgb(220, 220, 220);
            }
        }

        md-content {
            flex-grow: 1;
        }

        md-list-item {
            line-height: 20px;
            color: $textColor;
        }
    }

    &.closed {
        .app-nav {
            width: 0;
        }
    }
}

.repo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $mainBgColor;
}

.repo-card {
    flex-grow: 0;
    display: flex;
    width: 250px;
}

.template-container {
    overflow-y: scroll;
    height: calc(100% - 64px);
    position: relative;
}

.page {
    opacity: 0;
    transition: opacity 0.5s linear;
    position: absolute;
    top: 10px;

    &.visible {
        opacity: 1;
    }
}

.repo-info {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: $textColor;
}

.repo-card {
    .md-subheader {
        background-color: #EDEDED;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.circle {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.repo-icon:before {
    height: 14px;
    margin-right: 6px;
}

.job-description {
    color: $textColor;

    .job-title {
        color: #444;
    }

    .job-summary {
        padding: 0 10px;
        border-left: 0.25em solid #ddd;
    }
}
@media all and (orientation: portrait) {
    .sidenav-container {
        .app-nav {
            width: 600px;
            max-width: 600px;

            md-toolbar {
                .md-avatar {
                    width: 140px;
                    height: 140px;
                }

                .author {
                    font-size: 35px;
                }

                .mail {
                    font-size: 30px;
                }

                md-list-item {
                    line-height: 35px;
                }
            }
        }
    }

    a.nav-link {
        font-size: 35px;
    }
}
