<md-content class="cv" ng-if="state.indexOf('cv') !== -1">
    <md-list flex>
        <md-list-item>
            <div class="md-list-item-text job-description">
                <h3 class="job-title"><img ng-src="http://www.ebsbrokertec.com/favicon.ico" class="md-avatar job-icon" />Web Developer @ EBS BrokerTec</h3>
                <summary class="job-summary">
                    Currently working as a web developer, focusing on the companies main trading and admin applications.
                </summary>
                <h4 class="sub-header">UI Development</h4>
                <ul>
                    <li>Development mainly based on AngularJS, including development of angular directives for common UI components, angular filters and angular services.</li>
                    <li>Development with Angular Matrial, JQuery UI widgets, Bootstrap, AngularUI, HTML 5 and other frontend technologies and libraries</li>
                    <li>CSS development via SASS and Less, as well as CSS3 extended capabilities, animations and transitions.</li>
                    <li>Developing low level UI components using Polymer (Web Components)</li>
                    <li>Development of automatic UI unit tests based on Karma + Mocha</li>
                </ul>
                <h4 class="sub-header">Backend Development based on NodeJS</h4>
                <ul>
                    <li>Development with express, including development of express middlewares for security, routing, REST and more.</li>
                    <li>Development with sails.js, including development of sails policies, bootstraping, controllers, models and auth flow.</li>
                    <li>Working with Redis, MongoDB and Oracle</li>
                    <li>Extended nginx capabilities to add custom logic using lua scripting (based on open resty)</li>
                    <li>Development of high performance TCP based integration with other systems</li>
                    <li>Developed monitoring agents for processes health, remote configuration management, IDM integration and other frameworks.</li>
                    <li>Developed SAML based auth flow</li>
                    <li>Development of automatic unit tests based on Mocha</li>
                </ul>
                <h4 class="sub-header">Deployment and Build</h4>
                <ul>
                    <li>Creating Docker images for Docker container based deployment</li>
                    <li>Setting up Jenkins jobs for continues integration builds</li>
                    <li>Developing Grunt and gulp based build scripts for running automatic unit tests, code inspection tools and more.</li>
                    <li>Developed a shell + js based installer</li>
                </ul>
            </div>
        </md-list-item>
        <md-list-item>
            <div class="md-list-item-text job-description">
                <h3 class="job-title"><img ng-src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAQxAAAAJGQwZmM4MmI0LWUwNTAtNDI5Zi1iMmQwLTU2NTUwNjM5NzQwZg.png" class="md-avatar job-icon" />Amdocs</h3>
                <summary class="job-summary">
                    Worked in various roles in the company, from a full stack developer and up to software architect.
                </summary>
                <h4 class="sub-header">UI Development (Web)</h4>
                <ul>
                    <li>Developing and migrating the CRM swing based UI to web UI</li>
                    <li>UI development based on HTML 5, JQuery, RequireJS, backbone and other front-end technologies.</li>
                    <li>Development of UI to backend integration via REST services using apache CXF</li>
                    <li>Writing the base frameworks for both UI and REST layers.</li>
                    <li>Writing unit level automation tests</li>
                    <li>Writing a multi module maven build for entire project with integration to grunt based build for the JS code base</li>
                    <li>Creation of a windows and linux installer based on apache ANT</li>
                    <li>Legacy system UI development was based on JSP/Servlets technology.</li>
                </ul>
                <h4 class="sub-header">Java Development</h4>
                <ul>
                    <li>Writing common frameworks used in the project (encryption, batch processes, integration adapters).</li>
                    <li>Development of back-end integration based on: Web Services, EJBs (session beans and JMS) and Tuxedo.</li>
                    <li>UI development based on java Swing.</li>
                    <li>In charge of the performance tuning of the application and using 3rd party tools such as jprofiler, jprobe and more.</li>
                </ul>
                <h4 class="sub-header">Architect</h4>
                <ul>
                    <li>In charge of multiple different CRM solutions for different major telephony companies such as AT&amp;T.</li>
                    <li>In charge of the general technical design of the CRM system including building requirements and providing effort estimations.</li>
                    <li>Leading the adoption of continuous integration in the division, including: build transformation to maven, backend testing automation via junit, CI via jenkins and more</li>
                    <li>Leading changes of code inspection processes and tools (PMD, SONAR, ...)</li>
                    <li>Technical support for the CRM experts and developers.</li>
                    <li>Development of JavaScript based tools to developers and testers.</li>
                    <li>Working with the customer including at the customer site.</li>
                </ul>
            </div>
        </md-list-item>
    </md-list>
</md-content>
