body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.full {
  height: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

.button-collapse {
  display: block !important;
  font-size: 22px;
}

.top-nav {
  background-color: #409f62 !important;
}

.side-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #409f62;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.2) 35px, rgba(255, 255, 255, 0.2) 70px);
  padding: 12px;
}

.icon {
  border-radius: 50%;
}

.job-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
}

.author {
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 3px;
  color: white;
}

.mail {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  color: rgb(220, 220, 220);
}

.menu-icon {
  font-weight: 100 !important;
}

.main {
  overflow: hidden;
}

div.content {
  position: relative;
  display: flex;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.page {
  padding: 10px;
  flex-grow: 1;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page ul {
  border: none;
}

ul.browser-default {
  list-style-type: disc;
}

.page.show {
  display: block;
  opacity: 1;
}

.page h3 {
  font-size: 2rem;
}

.page h4 {
  font-size: 1.5rem;
}

summary {
  border-left: 0.25em solid #ddd;
  padding: 0 10px;
  line-height: 30px;
}

.job-description {
  line-height: 30px;
}

.job-description li {
  float: none;
}
